.header{
    background: #c1092d;
    width: 25%;
    height: 7px;
    display: inline-block;
    margin-right: -4px;
    
}
.header1{
    background: #962987;
    width: 25%;
    height: 7px;
    display: inline-block;
    margin-right: -5px;
}
.header2{
    background: #00afae;
    width: 25%;
    height: 7px;
    display: inline-block;
}

.min{
    margin-top: -15px;
    margin-right: -34%;
}


h2{
    float: left; 
    margin-top: 20px; 
    font-family: cursive;
}


  .skip-to-content-link {
    background: #b688d4;
    height: 30px;
    left: 45%;
    padding: 10px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }
  
  .skip-to-content-link:focus {
    transform: translateY(0%);
  }

 #lang-switch{
    margin-left: 280px;
    block-size: 30px;
    margin-top: 20px;
 }

 
.search-container {
  display: flex;
  justify-content:center;
  margin-right: 15rem;
  align-items: center;
  padding: 20px;
 
}

input {
  padding: 10px;
  margin-right: 5px;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#searchResults {
  margin: 10px;
}

#top-right-text {
  position: absolute;
  top: 30px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  right: 7rem;
  padding: 10px;
  background-color: #f7fdfd;
  color: #161414;
  cursor: pointer;
}

/* Nav bar  */

.menu-bar ul{
  margin: 0%;
  margin-top: 40px;
  padding: 0%;
  list-style: none;
  height: 40px;
  line-height: 40px;
  background-color: rgb(201, 118, 40);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-size: 25px;


}
.menu-bar ul li{
float:left;
text-transform: uppercase;
padding: 0px 110px;
font-size: 20px;
display: inline-block;
border-right: 1px rgb(84, 167, 126);    
}

.menu-bar ul li a{
  display: block;
  padding: 0 10px;
  color: azure;
  text-decoration: none;
}
.menu-bar ul li :hover {
  background-color: rgb(201, 118, 40);
}


.dropdown{
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn{
  font-size: 20px;
  border: none;
  outline: none;
  color:white;
  padding: 8px 40px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn{
  background-color: rgb(201, 118, 40);


}

.dropdown-content {
display: none;
position: absolute;
background-color: rgb(229, 175, 125);
min-width: 70px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.dropdown-content a {
  float: none;
  font-size: 18px;
  color: black;
  padding: 1px 38px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(201, 118, 40);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-1{
  float: left;
  overflow: hidden;
}

.dropdown-1 .dropbtn-1{
  font-size: 20px;
  border: none;
  outline: none;
  color:white;
  padding: 8px 40px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-1:hover .dropbtn-1{
  background-color: rgb(201, 118, 40);


}

.dropdown-content-1 {
  display: none;
position: absolute;
background-color: rgb(229, 175, 125);
min-width: 15px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.dropdown-content-1 a {
  float: none;
  font-size: 18px;
  color: black;
  padding: 3px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-1 a:hover {
  background-color: rgb(201, 118, 40);
}

.dropdown-1:hover .dropdown-content-1 {
  display: block;
}





.dropdown-3{
  float: left;
  overflow: hidden;
}

.dropdown-3 .dropbtn-3{
  font-size: 20px;
  border: none;
  outline: none;
  color:white;
  padding: 8px 40px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-3:hover .dropbtn-3{
  background-color: rgb(201, 118, 40);


}

.dropdown-content-3 {
display: none;
position: absolute;
background-color: rgb(229, 175, 125);
min-width: 50px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.dropdown-content-3 a{
  float: none;
  font-size: 18px;
  color: black;
  padding: 3px 38px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-3 a:hover {
  background-color: rgb(201, 118, 40);
}

.dropdown-3:hover .dropdown-content-3 {
  display: block;
}

.mySlides {
  display:none;
  
}  

.gallery{
 
  margin: 25px;
  border: 1px solid #ccc;
  float: left;
  width: 480px;
}

.gallery :hover{
  border: 1px solid #777;
}

.gallery img{
width: 100%;
height: auto;
}
.desc{
  padding: 15px;
  font-size: 20px;
 
  text-align: center;
}

.earth{
    text-align: center;
}
.vertical-menu{
    width: 200px;
    margin-left: 50px;

}
.vertical-menu a{
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.vertical-menu a:hover{
    background-color: #ccc;

}
.vertical-menu a.active{
    background-color: #04AA6D;
    color: white;
}

.photo{

  margin-left: 280px;
  block-size: 30px;
  margin-top: -25%;
}

.more{
 margin-left: 40%;
  margin-top: 22%;
  text-decoration-line: underline;
}

.pre{
  text-align: left ;
  margin-top: 30%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 20%;
}


/* For Precaution oF eARthquake */

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlide {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}




/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
